@import './variables.scss';
@import './button.scss';
@import './mixin.scss';

:root {
  --color-white: #ffffff;
  --color-black: purple;
  --color-red: red;
  --border-radius: 30px;
  --border: 1px solid var(var(--border-radius));
  --container-width: 500px;
  --container-padding-x: 20px;
  --input-heght: 42px;
  --font-family: inter;
}

.container {
  //max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  //padding-inline: var(--container-padding-x);
  //padding-block: 50px;
  //margin-inline: auto;
  //min-width: 375px;
  font-family: var(--font-family);
  @include container
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-inline: auto;


}

.zagolovok .subtitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: #6941c6;
}
.zagolovok h3 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 36px;
  letter-spacing: -0.02em;
  color: #101828;
  margin-top: 12px;
}
.zagolovok p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #667085;
  margin-top: 20px;
  width: 768px;
  @include responsive(480px) {
    width: 400px;
  }
}
.info__inner {
  display: flex;
  gap: 96px;
  align-items: center;
  margin-top: 64px;
  width: 100%;
  @include responsive(480px) {
    flex-direction: column;
  }
}
.info__right {
  display: flex;
  gap: 32px;
  width: 50%;
  @include responsive(480px) {
    flex-direction: column;
    width: 100%;
  }
}
.info__right2 {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.info__cards {
  width: 264px;
  height: 168px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include responsive(480px) {
    width: 400px;
  }
}
.info__cards .span {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 60px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #7f56d9;
  @include responsive(480px) {
    font-size: 40px;
  }
}
.info__cards .subtitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #101828;
}
.info__cards p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #667085;
}
.info__left {
  width: 50%;

  @include responsive(480px) {
    display: flex;
    width: 100%;
  }
  img {
    display: flex;
     @include responsive(1280px) {
        width: 480px;
  }
    @include responsive(480px) {
      width: 400px;
      align-items: center;
    }
  }

}